.Track {
  border: 1px solid black;
}

.Track__row {
  display: flex;
}

.Track__head {
  display: flex;
  padding: 10px;
  position: relative;
  width: 200px;
}

.Track__head--node {
  padding: 0 10px;
}

.Track__body {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.Track__add.active {
  border-style: inset;
}

.Track__label {
  margin-right: 10px;
}

.Track__input {
  width: 100%;
}
